<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>dashboard</title>

    <!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>
<body>
    
    <div id = "students-div"  style = " text-align:center;">
        <h5> registered students</h5>

        <div>
            
                <% for(data of id){%>
                    <div style="display:flex ; justify-content: center;" >
                        <div >
                            
                        <label for="">Name </label>  <%=  data.name %> <br>
                        <label for="">Roll No </label>  <%= data.roll %><br>
                        <label for="">Phone no </label>  <%= data.phone %><br>
                        <label for="">Email </label>  <%= data.email %>
                        <hr>
                        </div>
                    </div>

                    <%}%>
                
                    
                
        </div>

    </div>
    <div>
        <a href="/session/student"><button  class="btn btn-sm nav-text-color">Add Student</button>  </a>
    </div>
    
    <script src=""></script>
    
</body>
</html>