.block{
  display: block;
}
nav{
    display: flex;
    justify-content: space-between;
    
}
#header-body{
  
  height: 100px;
  display: flex;
  align-content: center;
  justify-content: center;
  
}
#brief{
  margin-top: 50px;
}
#sign-in-button{
    display: fixed;
    padding-right: 50px;
}

body{
    padding: 0px;
    background-image: url("/images/background.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    
    
    
    
}


.navbar-brand {
    letter-spacing: 3px;
    color: wheat;
  }
  
  .navbar-brand:hover {
      color: wheat;
  }
  
  .navbar-scroll .nav-link,
  .navbar-scroll .fa-bars {
    color:  wheat;
  }
  
  .navbar-scrolled .nav-link,
  .navbar-scrolled .fa-bars {
    color:  wheat;
  }
  
  .navbar-scrolled {
    background-color: wheat;
  }



  footer{
    /* TODO CHANGE */
    height: 900px;
  }

  .nav-text-color{
    color: wheat;
    font-size: 0.9em;
  }
  #header-body{
    padding-top: 10px;

  }