header{
  background-color: rgb(42,136,173);
}


.block{
  display: block;
}





nav{
    display: flex;
    justify-content: space-between;
    
}

#header-body{
  
  height: 100vh !important;
  width: 100vw !important;
  display: flex;

 justify-content: center;
 align-items: center;

}

#sign-in-button{
    display: fixed;
    padding-right: 50px;
}

body{
    
    background-image: url("/images/background.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    
    
    
    
}


.navbar-brand {
    letter-spacing: 3px;
    color: wheat;
  }
  
  .navbar-brand:hover {
      color: wheat;
  }
  
  .navbar-scroll .nav-link,
  .navbar-scroll .fa-bars {
    color:  wheat;
  }
  
  .navbar-scrolled .nav-link,
  .navbar-scrolled .fa-bars {
    color:  wheat;
  }
  
  .navbar-scrolled {
    background-color: wheat;
  }





  .nav-text-color{
    color: wheat;
    font-size: 0.9em;
  }
  